body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #e9eaea;
    margin: 20px;
}

h1 {
    color: red;

}

.grijs {
    color: gray;
}

a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 1em;
    display: block;
    width: fit-content;
}